<div class="home">
    <section class="banner"
        style="background-image: url('images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
        <div class="banner-container-home swiper">
            <div class="banner-wrapper">
                <ul class="banner-list swiper-wrapper" style="padding: 0; margin-bottom: 0;">
                    <li class="banner-item swiper-slide">
                        <a href="#" class="banner-link">
                            <img src="https://cdn.shopify.com/s/files/1/0059/0630/1017/files/V1-Russian-2.jpg?v=1687247899"
                                alt="Banner Image" class="banner-image">
                        </a>
                    </li>
                    <li class="banner-item swiper-slide">
                        <a href="#" class="banner-link">
                            <img src="https://i.pinimg.com/736x/6a/79/fd/6a79fdfc290a16ca8f98a6b0f519e77c.jpg"
                                alt="Banner Image" class="banner-image">
                        </a>
                    </li>
                    <li class="banner-item swiper-slide">
                        <a href="#" class="banner-link">
                            <img src="https://th.bing.com/th/id/R.5e67ab55cddf7a394db3926beff284ca?rik=g4opCZ9FmWuhqw&pid=ImgRaw&r=0"
                                alt="Banner Image" class="banner-image">
                        </a>
                    </li>
                    <li class="banner-item swiper-slide">
                        <a href="#" class="banner-link">
                            <img src="https://i.pinimg.com/736x/6a/79/fd/6a79fdfc290a16ca8f98a6b0f519e77c.jpg"
                                alt="Banner Image" class="banner-image">
                        </a>
                    </li>
                </ul>

                <div class="swiper-pagination"></div>
                <div class="swiper-slide-button swiper-button-prev" style="display: none"></div>
                <div class="swiper-slide-button swiper-button-next" style="display: none"></div>
            </div>
        </div>
        <div class="banner-other">
            {{#each poster.data}}
            <div class="banner-kit banner-item">
                <a href="#" class="banner-link">
                    <img src="{{this.imagepath}}" alt="Banner Kit Image" class="banner-image">
                </a>
            </div>
            {{/each}}
        </div>
        <!-- / Banner Blocks -->
    </section>


    <section class="new-product">
        <header>
            <h2 class="section-title">Sản phẩm mới</h2>
            <div class="swiper-buttons">
                <div class="swiper-slide-button new-product-button-prev">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="swiper-slide-button new-product-button-next">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </header>
        <div class="container-home swiper">
            <div class="card-wrapper">
                <ul class="card-list swiper-wrapper">
                    {{#each topNewProduct}}
                    <li class="card-item swiper-slide">
                        <a href="{{this.href}}" class="card-link">
                            <img src="{{this.firstImage}}" alt="Card Image" class="card-image">
                            <p class="badge {{this.categoryname}}">{{this.categoryname}}</p>
                            <h2 class="card-title">{{this.productname}}</h2>
                            <div class="card-bottom">
                                <div class="price">
                                    <span class="old-price">${{this.oldprice}}</span>
                                    <span class="current-price">${{this.currentprice}}</span>
                                </div>
                                <button onclick="handleAddToCart(event, '{{this.productid}}')"
                                    class="add-cart material-symbols-rounded">add_shopping_cart</button>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="container-home swiper">
            <div class="card-wrapper">
                <ul class="card-list swiper-wrapper">
                    {{#each bottomNewProduct}}
                    <li class="card-item swiper-slide">
                        <a href="{{this.href}}" class="card-link">
                            <img src="{{this.firstImage}}" alt="Card Image" class="card-image">
                            <p class="badge {{this.categoryname}}">{{this.categoryname}}</p>
                            <h2 class="card-title">{{this.productname}}</h2>
                            <div class="card-bottom">
                                <div class="price">
                                    <span class="old-price">${{this.oldprice}}</span>
                                    <span class="current-price">${{this.currentprice}}</span>
                                </div>
                                <button onclick="handleAddToCart(event, '{{this.productid}}')"
                                    class="add-cart material-symbols-rounded">add_shopping_cart</button>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>

    <section class="sales">
        <header>
            <h2 class="section-title">Sales</h2>
            <div class="swiper-buttons">
                <div class="swiper-slide-button sales-button-prev">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="swiper-slide-button sales-button-next">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </header>
        <div class="container-home swiper">
            <div class="sales-card-wrapper">
                <ul class="card-list swiper-wrapper">
                    {{#each topSalesProduct}}
                    <li class="card-item swiper-slide">
                        <a href="{{this.href}}" class="card-link">
                            <img src="{{this.firstImage}}" alt="Card Image" class="card-image">
                            <p class="badge {{this.categoryname}}">{{this.categoryname}}</p>
                            <h2 class="card-title">{{this.productname}}</h2>
                            <div class="card-bottom">
                                <div class="price">
                                    <span class="old-price">${{this.oldprice}}</span>
                                    <span class="current-price">${{this.currentprice}}</span>
                                </div>
                                <button onclick="handleAddToCart(event, '{{this.productid}}')"
                                    class="add-cart material-symbols-rounded">add_shopping_cart</button>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="container-home swiper">
            <div class="sales-card-wrapper">
                <ul class="card-list swiper-wrapper">
                    {{#each bottomSalesProduct}}
                    <li class="card-item swiper-slide">
                        <a href="{{this.href}}" class="card-link">
                            <img src="{{this.firstImage}}" alt="Card Image" class="card-image">
                            <p class="badge {{this.categoryname}}">{{this.categoryname}}</p>
                            <h2 class="card-title">{{this.productname}}</h2>
                            <div class="card-bottom">
                                <div class="price">
                                    <span class="old-price">${{this.oldprice}}</span>
                                    <span class="current-price">${{this.currentprice}}</span>
                                </div>
                                <button onclick="handleAddToCart(event, '{{this.productid}}')"
                                    class="add-cart material-symbols-rounded">add_shopping_cart</button>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>


    <section class="trending-products">
        <div class="container-home">
            <h2 class="section-title">Sản phẩm được quan tâm</h2>
            <div class="tab-box">
                <button class="tab-btn active">Được quan tâm</button>
                <button class="tab-btn">Kit phím</button>
                <button class="tab-btn">Keycap</button>
                <button class="tab-btn">Switch</button>
            </div>
        </div>
        <div class="content-box">
            <div class="content active">
                <a href="#" class="card-link">
                    <img src="https://cdn.shopify.com/s/files/1/0059/0630/1017/files/V1-Russian-2.jpg?v=1687247899"
                        alt="Card Image" class="card-image">
                    <p class="badge kit">Kit Set</p>
                    <h2 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">$25.00</span>
                            <span class="current-price">$18.00</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
                <a href="#" class="card-link">
                    <img src="https://cdn.shopify.com/s/files/1/0059/0630/1017/files/V1-Russian-2.jpg?v=1687247899"
                        alt="Card Image" class="card-image">
                    <p class="badge kit">Kit Set</p>
                    <h2 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">$25.00</span>
                            <span class="current-price">$18.00</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
                <a href="#" class="card-link">
                    <img src="https://cdn.shopify.com/s/files/1/0059/0630/1017/files/V1-Russian-2.jpg?v=1687247899"
                        alt="Card Image" class="card-image">
                    <p class="badge kit">Kit Set</p>
                    <h2 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">$25.00</span>
                            <span class="current-price">$18.00</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
                <a href="#" class="card-link">
                    <img src="https://cdn.shopify.com/s/files/1/0059/0630/1017/files/V1-Russian-2.jpg?v=1687247899"
                        alt="Card Image" class="card-image">
                    <p class="badge kit">Kit Set</p>
                    <h2 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">$25.00</span>
                            <span class="current-price">$18.00</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
                <a href="#" class="card-link">
                    <img src="https://cdn.shopify.com/s/files/1/0059/0630/1017/files/V1-Russian-2.jpg?v=1687247899"
                        alt="Card Image" class="card-image">
                    <p class="badge kit">Kit Set</p>
                    <h2 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">$25.00</span>
                            <span class="current-price">$18.00</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
            </div>
            <div class="content">
                {{#each kitProducts}}
                <a href="{{this.href}}" class="card-link">
                    <img src="{{this.firstImage}}" alt="Card Image" class="card-image">
                    <p class="badge {{this.categoryname}}">{{this.categoryname}}</p>
                    <h2 class="card-title">{{this.productname}}</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">${{this.oldprice}}</span>
                            <span class="current-price">${{this.currentprice}}</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
                {{/each}}
            </div>
            <div class="content">
                {{#each keycapProducts}}
                <a href="{{this.href}}" class="card-link">
                    <img src="{{this.firstImage}}" alt="Card Image" class="card-image">
                    <p class="badge {{this.categoryname}}">{{this.categoryname}}</p>
                    <h2 class="card-title">{{this.productname}}</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">${{this.oldprice}}</span>
                            <span class="current-price">${{this.currentprice}}</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
                {{/each}}
            </div>
            <div class="content">
                {{#each switchProducts}}
                <a href="{{this.href}}" class="card-link">
                    <img src="{{this.firstImage}}" alt="Card Image" class="card-image">
                    <p class="badge {{this.categoryname}}">{{this.categoryname}}</p>
                    <h2 class="card-title">{{this.productname}}</h2>
                    <div class="card-bottom">
                        <div class="price">
                            <span class="old-price">${{this.oldprice}}</span>
                            <span class="current-price">${{this.currentprice}}</span>
                        </div>
                        <button onclick="handleAddToCart(event, '{{this.productid}}')"
                            class="add-cart material-symbols-rounded">add_shopping_cart</button>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                <p id="notificationMessage">Nội dung thông báo sẽ hiển thị ở đây.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeNotificationBtn"
                    data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function handleAddToCart(event, productId) {
    // Ngăn chặn sự kiện "bong bóng" và hành vi mặc định của thẻ <a>
    event.stopPropagation();
    event.preventDefault();

    // Gọi hàm thêm vào giỏ hàng
    addToCart(productId);
}

function addToCart(productId) {
    console.log("Product ID:", productId);
    $.ajax({
        url: '/shopping-cart/add',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            ProductID: parseInt(productId)
        }),
        success: function (response) {
            // Xử lý khi gọi API thành công
            console.log("Success:", response);
            $('#notificationMessage').text(response.message); // Cập nhật nội dung thông báo
            $('#notificationModal').modal('show'); // Hiển thị modal
        },
        error: function (xhr, status, error) {
            // Xử lý lỗi
            console.error("Error:", error);
            $('#notificationMessage').text('Có lỗi xảy ra, vui lòng thử lại.'); // Cập nhật nội dung thông báo
            $('#notificationModal').modal('show'); // Hiển thị modal
        }
    });
}
</script>