<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!--customHead for home-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add_shopping_cart" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    {{{customHead}}}

    <link href="/User/layoutUser.css" rel="stylesheet">
    <script defer src="/User/layoutUser.js"></script>
    <link rel="stylesheet" href="/home/style.css" />

    <style>
        .min-height-100 {
            min-height: 100vh; /* 100% of the viewport height */
            display: flex;
            flex-direction: column;
        }
    </style>

</head>
<body class = "bg-secondary-subtle min-height-100">
    <!-- Header -->
    <header id="header" class="text-white py-3 w-100 m-0" style="background-color: rgb(40, 85, 136);">
        <div class="container-fluid mx-0">
            <div class="row align-items-center">
                <div class="col-3 text-center align-items-center">
                    <h1>Mechanical Store</h1>
                </div>
                <div class="col-6">
                    <nav class="nav justify-content-center">
                        <a class="nav-link text-black fs-4 text-white" href="/">Home</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black fs-4 text-white" href="#" id="instockDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Instock
                            </a>
                            <ul class="dropdown-menu text-end" style="width:50px;" aria-labelledby="instockDropdown">
                                <li v-for="(category, index) in categorys" :key="index">
                                  <a class="dropdown-item fs-5" href="/kitPhim">[[category.name]]</a>
                                  {{!-- mỗi category là id: , path:(link ảnh), name:  --}}
                                </li>
                            </ul>
                        </div>
                        <a class="nav-link text-black fs-4 text-white" href="/group-by-product">GroupBy</a>
                        <a class="nav-link text-black fs-4 text-white" href="/introduction">Introduce</a>
                        <a class="nav-link text-black fs-4 text-white" href="/service">Service</a>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="d-flex align-items-center">
                        <div class="col-7" style="margin-right: 7px;">
                            <input type="text" class="form-control me-2" placeholder="Search" v-model="searchQuery" @keyup.enter="search">
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <a class="nav-link" href="/account"><i class="bi bi-person-circle fs-4"></i> <i class="fa-solid fa-user fs-4"></i></a>
                            <div class="d-flex flex-column align-items-center ms-2">
                                {{#if user}}
                                    <span class="text-danger fw-bold">{{ user.username }}</span>
                                {{else}}
                                    <span class="text-danger fw-bold"><a href="/login" class="text-danger fw-bold">Sign In</a></span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-1 text-center">
                            <a class="nav-link" href="/shopping-cart"><i class="bi bi-cart fs-4"></i> <i class="fa-solid fa-cart-shopping fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Content -->
    {{{body}}}

    <!-- Footer -->
    <footer id="footer" class="text-white py-4 mt-auto w-100 footer">
        <div class="container-fluid">
              <div class="row">
                
                <div class="col-4 text-left">
                  <h2>Mechanical Store</h2>
                  <h4 style="color: #ababab;">
                    227 Đ. Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh
                  </h4>
                  <h4 style="color: #ababab;">
                    WeAreHere@gmail.com
                  </h4>
                </div>

                <div class="col-2">
                  <h2>INFORMATION</h2>
                  <h4 style="color: #ababab;">Product Updates </h4>
                  <h4 style="color: #ababab;">Newsroom </h4>
                  <h4 style="color: #ababab;">Initate a Return </h4>
                  <h4 style="color: #ababab;">How To </h4>
                  <h4 style="color: #ababab;">FAQ Contanct </h4>
                  <h4 style="color: #ababab;">Clearance </h4>
                </div>

                <div class="col-3 text-left">
                  <h2>NEWSLETTER</h2>
                  <h4 style="color: #ababab;">Stay updated by sending your email to
                    receive information:</h4>

                  <form @submit.prevent="subscribeNewsletter" class="form">
                    <div class="emai-contai">
                      <input
                        type="email"
                        class="email"
                        placeholder="Enter your email"
                        v-model="newsletterEmail"
                        @blur="validateEmail"
                        required
                      />
                    </div>
                    <button class="btn-sub" type="submit">Subscribe</button>
                  </form>
                  <button class="btn-dm mt-3" @click="toggleDarkMode">Dark Mode</button>
                </div>
                
                <div class="col-3 text-center">
                  <h1>Follow Us</h1>
                  <div class="col-6 mx-auto mb-4">
                    <a
                      href="https://www.facebook.com"
                      class="text-primary me-2 fs-1"
                    ><i class="fa-brands fa-facebook-f"></i></a>
                  </div>
                  <div class="col-6 mx-auto icon-z">
                    <a class="zalo" href="https://www.zalo.me">
                      <img src="/home/zalo-icon.webp" class="img" alt="zalo" />
                    </a>
                  </div>
                </div>

            </div>
        </div>
    </footer>
</body>
</html>